<mat-card>
  <h3>We'd love to hear from you</h3>
  <mat-card-content>
    <p>Whether you have a question, suggestion or request - You can contact us via email and we will get in touch with
      you as soon as possible. </p>
    <div class="email">
      <a href="mailto:coronavirus.remember@gmail.com">
        <button mat-button>
          <i class="material-icons">email</i>
        </button></a>
      <p>coronavirus.remember@gmail.com</p>
    </div>
    <section class="resource-wrapper">
      <h5>Coronavirus (COVID-19) most reliable sources online:</h5>
      <ul>
        <li><a href="https://news.google.com/covid19/map?hl=en-US&amp;gl=US&amp;ceid=US:en">Coronavirus (COVID-19) map -
            Google</a></li>
        <li><a href="https://app.developer.here.com/coronavirus/">Tracking Coronavirus COVID-19</a></li>
        <li><a href="https://www.health.gov.il/English/Topics/Diseases/corona/Pages/default.aspx">The Novel Coronavirus,
            Ministry of Health</a></li>
        <li><a href="https://coronavirus.jhu.edu/map.html">COVID-19 Map - Johns Hopkins Coronavirus Resource Center</a>
        </li>
        <li><a href="https://www.who.int/health-topics/coronavirus">Coronavirus - World Health Organization</a></li>
        <li><a href="https://www.google.com/covid19/">COVID-19 Information &amp; Resources - Google</a></li>
        <li><a href="https://trends.google.com/trends/story/US_cu_4Rjdh3ABAABMHM_en">‪‪Coronavirus‬‬ - Google Trends</a>
        </li>
        <li><a href="https://datastudio.google.com/reporting/f6ad0988-f203-45f8-8d18-5d726c1d2d8b/page/MGzDB">COVID-19
            Cases and Clusters Outside of China - Google</a></li>
        <li><a href="https://datastudio.google.com/reporting/f6ad0988-f203-45f8-8d18-5d726c1d2d8b/page/MGzDB">COVID-19
            Cases and Clusters Outside of China - Google</a></li>
        <li><a href="https://cloud.google.com/blog/topics/covid-19">COVID-19 | Google Cloud Blog</a></li>
        <li><a href="https://www.worldometers.info/coronavirus/">Coronavirus Cases</a></li>
        <li><a href="https://news.google.com/topstories?hl=en-US&amp;gl=US&amp;ceid=US:en">Google News</a></li>
      </ul>
    </section>
  </mat-card-content>
</mat-card>

<app-google-analytics-gtag></app-google-analytics-gtag>
