<div class="about-section">
  <div class="text-container">
    <h1>Coronavirus Virtual Memorial</h1>
    <p class="main-desc">Every person is a whole world, and we want people
      all over the world to remember those who we have lost not just as statistics, but as people with a life
      stories and legacies. We want to honor the people who passed away from the coronavirus and give their family and
      friends a place to keep and share the memory of their loved ones.</p>

   <div class="actions-wrapper">
    <a routerLink="../memorial"><button mat-raised-button class="btn-action">Read Stories</button></a>
    <a (click)="openDialog()"><button mat-raised-button class="btn-action">Share a Story</button></a>
   </div>
  </div>
</div>

<app-google-analytics-gtag></app-google-analytics-gtag>
