/* You can add global styles to this file, and also import other style files */
* {
  -webkit-overflow-scrolling: touch !important;
}

html,
body {
  height: 100%;
   margin: 0;
   font-family: Roboto,
   Helvetica Neue Light,
   Helvetica Neue,
   Helvetica,
   Arial,
   Lucida Grande,
   sans-serif;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(214, 214, 214);
  }

  ::-webkit-scrollbar-thumb {
    background: #a8b1bb;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 160, 196, 0.603);
  }
}

.cdk-overlay-container mat-dialog-container {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #5a1a0ae3;
}


@media only screen and (max-width: 600px) {
  html,
  body {
    height: 100vh !important;
    overflow: hidden;
  }
}
